# External sensitive configs
config/admin.yml
config/application.yml
# keep example files tracked
!config/*.example
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
ENV/
env/
.venv/

# Storage and config files
storage/
config.json
ip_whitelist.json

# IDEs and editors
*.swp
*.swo
*.bak
*.tmp
*.log
.idea/
.vscode/
*.DS_Store

*.jar
trashbin/
HELP.md
*.p12
*.db
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
