# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
ENV/
env/
.venv/

# Storage and config files
storage/
config.json
ip_whitelist.json

# IDEs and editors
*.swp
*.swo
*.bak
*.tmp
*.log
.idea/
.vscode/
*.DS_Store