# External admin credentials for StoreIt (copy to config/admin.yml)
app:
  default-admin:
    # Default admin username
    username: admin
    # Default admin password (will be hashed on startup)
    password: your_secret_here
